Orai_feladatok/WCFZene/WCFZene_Host/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51423/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFZene.Models" />
  <xs:element name="InsertEloado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFZene.Models" minOccurs="0" name="eloado" nillable="true" type="q1:Eloado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEloadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEloadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEloadok">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEloadokResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFZene.Models" minOccurs="0" name="GetEloadokResult" nillable="true" type="q2:ArrayOfEloado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEloado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFZene.Models" minOccurs="0" name="eloado" nillable="true" type="q3:Eloado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEloadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEloadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEloado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEloadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEloadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>