Orai_feladatok/WCFZene/WCFZene_Host/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFZene.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFZene.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Eloado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nemzetiseg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Szolo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eloado" nillable="true" type="tns:Eloado" />
  <xs:complexType name="ArrayOfEloado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Eloado" nillable="true" type="tns:Eloado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEloado" nillable="true" type="tns:ArrayOfEloado" />
</xs:schema>